<div class="m-5">
    <h1 class="text-center my-5">PROYECTOS</h1>
</div>
<div class='projects text-center '>
    <div class="row p-5 ">
        <div class="card cardProject bg-dark text-white col-sm-5 text-center mb-5   ">
            <h5 class="card-header">XXIX FESTIVAL DE BLUES DE CERDANYOLA, 2019</h5>
            <a href="https://www.bluesdecerdanyola.com/" target="_blank"><img src="assets/img/BluesScreenShot3.JPG" class="card-img-top img-projects" alt="..."></a>
            <div class="card-body">

                <p class="card-text">XXIX Festival Internacional de Blues de Cerdanyola del Valles, más de 54 conciertos entre el 4 y 14 de Octubre, página web diseñada a medida para este tipo de evento.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Octubre 2019</small>
            </div>
        </div>
        <div class="row col-sm-1">

        </div>
        <div class="card cardProject text-center bg-dark text-white col-sm-5 mb-5  ">
            <h5 class="card-header ">ASSOCIACIO SAM VIU (The xiringuito)</h5>
            <a href="http://associaciosamviu.com/" target="_blank"><img src="assets/img/samviuThumnail.png" class="card-img-top img-projects" alt="..."></a>
            <div class="card-body">

                <p class="card-text">"Associació d'amics del art i la música", Bar de música, conciertos en directo y tapas cada Sabado y Domingo a partir de la 13h, Ripollet.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Enero 2019</small>
            </div>
        </div>


    </div>

    <div class="row mt-5 p-5">
        <div class="card cardProject text-center bg-dark text-white col-sm-5 mb-5 ">
            <h5 class="card-header ">SAXMAN DIGITAL GOODS</h5>
            <a href="http://saxmansoft.webdesign10.xyz/" target="_blank"><img src="assets/img/saxmanSS.png" class="card-img-top img-projects" alt=" ... "></a>
            <div class="card-body ">

                <p class="card-text ">Página e-comerce para la venta de aplicaciones para sincronizar pedales y efectos de las marcas más usadas en el mercado músical.
                </p>
            </div>
            <div class="card-footer ">
                <small class="text-muted ">Diciembre 2018</small>
            </div>
        </div>
        <div class="row col-sm-1">

        </div>
        <div class="card cardProject text-center bg-dark text-white col-sm-5">
            <h5 class="card-header ">Tonet Martorell</h5>
            <a href="http://tonetmartorell.com/" target="_blank"><img src="assets/img/tonet-web.JPG" class="card-img-top img-projects " alt="... "></a>
            <div class="card-body ">

                <p class="card-text ">Página web artista Tonet Martorell, de Parets del Valle, Artista, compositor y multi-insturementista.</p>
            </div>
            <div class="card-footer ">
                <small class="text-muted ">Noviembre 2020</small>
            </div>
        </div>

    </div>
</div>