<div class="m-5">
    <h1 class="text-center my-5">PROYECTOS</h1>
</div>
<div class='projects'>
    <div class="row ">
        <div class="col-sm-6 ">
            <h5 class="card-title text-center">XXIX FESTIVAL DE BLUES DE CERDANYOLA, 2019</h5>
            <a href="https://www.bluesdecerdanyola.com/" target="_blank"><img src="assets/img/BluesScreenShot3.JPG" class="card-img-top  " alt="..."></a>
            <div class="card-body">

                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="col-sm-6 mb-5 ">
            <h5 class="card-title text-center">ASSOCIACIO SAM VIU</h5>
            <a href="https://associaciosamviu.com/" target="_blank"><img src="assets/img/samviuThumnail.png" class="card-img-top " alt="..."></a>
            <div class="card-body">

                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipibeatae voluptatibus! Iusto tempore rerum unde nulla ut quo numquam deserunt in. This is a wider card with

                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>


    </div>

    <div class="row ">
        <div class=" col-sm-6">
            <h5 class="card-title text-center">SAXMAN DIGITAL GOODS</h5>
            <img src="assets/img/saxmanSS.png" class="card-img-top" alt=" ... ">
            <div class="card-body ">

                <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. oluptatum in officiis repudiandae ipsum eos nobis eligendi, dignissimos hic? Reiciendis?
                </p>
            </div>
            <div class="card-footer ">
                <small class="text-muted ">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="col-sm-6 ">
            <h5 class="card-title text-center">SOUL KID</h5>
            <img src="assets/img/soulkidThumNail.png " class="card-img-top " alt="... ">
            <div class="card-body ">

                <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer ">
                <small class="text-muted ">Last updated 3 mins ago</small>
            </div>
        </div>

    </div>
</div>