<div class="mt-5 contact  ">
    <h1 class=" text-center"><img src="assets/img/template-logo-combi.png" class="bg-dark mr-3 "> CONTACTA
    </h1>


    <div class="card text-white bg-info mt-5 p-4 ">
        <div class="card-header">WEB DESIGN 10</div>
        <div class="card-body">
            <p class="card-text text-white">Enviar emial . . .

                <a href="mailto:xaviweb2019@gmail.com" class="text-white"> - <i class="fas fa-paper-plane fa-2x"></i>
                    click
                    aqui... </a>
            </p>
            <h5 class="card-title">Estamos en Barcelona</h5>

        </div>
    </div>


</div>