<div class="mt-5">
    <h1 class="txt-wd10 text-center"><img src="assets/img/template-logo-combi.png" class=" bg-dark mr-3 "> WEB DESIGN 10
    </h1>


    <ul class=" mt-5 list-unstyled pad-li">
        <li><i class="fas fa-drafting-compass fa-3x "></i><span class="ml-4  ">Diseño y programación web
                usando las
                tecnologías más adecuadas para tu proyecto.</span></li>
        <li><i class="fas fa-lock fa-3x "></i> <span class="ml-4">Ciberseguridad web.</span></li>

        <li><i class="fas fa-search-dollar fa-3x"></i><span class="ml-4"> Marqueting y posicionamiento web para
                mejorar
                tu imagen.</span></li>
        <li> <i class="fas fa-edit fa-3x "></i><span class="ml-4"> Diseño de logos, newsletters y programas de
                mano.</span></li>
    </ul>
</div>
<div>


</div>