                       nav {
                           font-family: 'Righteous', 'Courgette', Verdana, 'Geneva', Tahoma, sans-serif, serif;
                       }
                       
                       body {
                           font-family: Tahoma, Verdana, 'Geneva', sans-serif, serif, 'Righteous', 'Courgette';
                       }
                       
                       footer {
                           color: white;
                           position: fixed;
                           bottom: 0px;
                           width: 100%;
                           font-family: Tahoma, Verdana, 'Geneva', Tahoma, sans-serif, serif, 'Righteous', 'Courgette';
                           margin-top: 2em;
                       }
                       
                       .projects {
                           position: relative;
                           margin-bottom: 25em;
                       }
                       /**animations **/
                       
                       .animated {
                           -webkit-animation-duration: 1s;
                           animation-duration: 1s;
                           -webkit-animation-fill-mode: both;
                           animation-fill-mode: both;
                       }
                       
                       .fast {
                           -webkit-animation-duration: 4000s;
                           animation-duration: 4000s;
                           -webkit-animation-fill-mode: both;
                           animation-fill-mode: both;
                       }
                       
                       @keyframes fadeIn {
                           from {
                               opacity: 0;
                           }
                           to {
                               opacity: 1;
                           }
                       }
                       
                       .fadeIn {
                           animation-name: fadeIn;
                       }