<!-- Footer -->
<footer class="footer bg-dark font-small cyan darken-3 text-center ">

    <!-- Footer Elements -->
    <div class="container">
        <!-- Copyright -->
        <div class="footer-copyright pt-4 text-center">
            © {{year}} Xavi Gargallo
            <a href="mailto:xaviweb2019@fgargallo.xyz"> - <i class="far fa-envelope fa-2x"></i> email </a>
        </div>
        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 pt-4">
                <div class="mb-4 flex-center">
                    <div id="imgIcons">
                        <img src="assets/img/web-tech-icons/iconfinder_html.png" alt="icon">
                        <img src="assets/img/web-tech-icons/iconfinder_css.png" alt="icon">
                        <img src="assets/img/web-tech-icons/iconfinder_boostrap.png" alt="icon">
                        <img src="assets/img/web-tech-icons/iconfinder_javascript_308441.png" alt="icon">
                        <img src="assets/img/web-tech-icons/iconfinder_jquery_308442.png" alt="icon">
                        <img src="assets/img/web-tech-icons/iconfinder_nodejs_308444.png" alt="icon">
                        <img src="assets/img/web-tech-icons/iconfinder_sass_308448.png" alt="icon">
                        <img src="assets/img/web-tech-icons/iconfinder_github.png " alt="GIT HUB">
                        <img src="assets/img/web-tech-icons/iconfinder_angular.png" alt="icon">


                    </div>
                </div>
                <!-- Grid column -->

            </div>

        </div>
        <!-- Grid row-->


        <!-- Footer Elements -->



    </div>
</footer>